accelerate==1.14.0
aiohappyeyeballs==2.7.1
aiohttp==3.14.3
aiosignal==1.4.0
annotated-doc==0.0.5
anyio==4.14.2
asttokens==3.0.2
attrs==26.1.0
av==15.1.0
certifi==2026.7.22
charset-normalizer==3.5.1
click==8.4.2
cloudpickle==3.1.2
cmake==4.1.3
cmeel==0.60.1
cmeel-assimp==5.4.3.1
cmeel-boost==1.87.0.1
cmeel-console-bridge==1.0.2.3
cmeel-octomap==1.10.0
cmeel-qhull==8.0.2.1
cmeel-tinyxml2==10.0.0
cmeel-urdfdom==4.0.1
cmeel-zlib==1.3.2
coal-library==3.0.1
datasets==4.8.5
deepdiff==8.6.2
dill==0.4.1
docopt==0.6.2
draccus==0.10.0
eigenpy==3.10.3
einops==0.8.2
eiquadprog==1.2.9
executing==2.2.1
farama-notifications==0.0.6
feetech-servo-sdk==1.0.0
filelock==3.32.3
foxglove-sdk==0.25.3
frozenlist==1.8.0
fsspec==2026.7.0
gymnasium==1.3.0
h11==0.16.0
hf-xet==1.6.0
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==1.27.0
idna==3.18
ipython==9.16.1
ipython-pygments-lexers==1.1.1
ischedule==1.2.7
jedi==0.20.0
jinja2==3.1.6
jsonlines==4.0.0
-e file:///Users/krish/codingStuff/robot-101/lerobot
markdown-it-py==4.2.0
markupsafe==3.0.3
matplotlib-inline==0.2.2
mdurl==0.1.2
mergedeep==1.3.4
meshcat==0.3.2
mpmath==1.3.0
multidict==6.7.1
multiprocess==0.70.19
mypy-extensions==1.1.0
networkx==3.6.1
num2words==0.5.14
numpy==2.2.6
opencv-python-headless==4.13.0.92
orderly-set==5.5.0
packaging==25.0
pandas==2.3.3
parso==0.8.7
pexpect==4.9.0
pillow==12.3.0
pin==3.4.0
placo==0.9.15
prompt-toolkit==3.0.53
propcache==0.5.2
psutil==7.2.2
ptyprocess==0.7.0
pure-eval==0.2.3
pyarrow==25.0.1
pygame==2.6.1
pygments==2.21.0
pyngrok==8.1.2
pyserial==3.5
python-dateutil==2.9.0.post0
pytz==2026.3.post1
pyyaml==6.0.3
pyyaml-include==1.4.1
pyzmq==27.1.0
regex==2026.7.19
requests==2.34.2
rerun-sdk==0.33.1
rhoban-cmeel-jsoncpp==1.9.4.9
rich==15.0.0
safetensors==0.8.0
setuptools==80.10.2
shellingham==1.5.4
six==1.17.0
stack-data==0.6.3
sympy==1.14.0
termcolor==3.3.0
tokenizers==0.22.2
toml==0.10.2
torch==2.11.0
torchcodec==0.11.1
torchvision==0.26.0
tornado==6.5.8
tqdm==4.70.0
traitlets==5.16.1
transformers==5.5.4
typer==0.27.1
typing-extensions==4.16.0
typing-inspect==0.9.0
tzdata==2026.3
u-msgpack-python==2.8.0
urllib3==2.7.0
wcwidth==0.8.2
xxhash==4.0.1
yarl==1.24.5
